#emp-dashboard-page {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: "General Sans";
}

#sidebar {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 3vw 1vw;
  text-align: start;
}
#logo img {
  width: 100%;
}
.elements {
  width: 100%;
  padding: 1vw 2vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  text-transform: capitalize;
}
.elements a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.elements i {
  margin-right: 2vw;
}
#hero {
  width: 80%;
}
#hero-top {
  width: 100%;
  height: 50%;
  background-color: #5e71e4;
  color: #fff;
}
#sec-nav {
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sec-nav a {
  text-decoration: none;
  color: #fff;
}

.contactButton {
  background: #7079f0;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}

.hero-top-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
}
.hero-top-elements div {
  width: 12vw;
  height: 10vw;
  background-color: #fff;
}
#hero-navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
#hero-bottom {
  width: 100%;
  height: 50%;
  background-color: #172c4d;
  position: relative;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
}
#footer #footer-left {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 1vw 3vw;
}
#footer #footer-right {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-weight: 300;
  padding: 1vw 3vw;
}
