<div id="emp-dashboard-page">
  <div id="sidebar">
    <div id="logo">
      <img
        src="assets\hiring-agency-candidates-job-interview_1262-18940.jpg"
        alt="emp-image"
      />
    </div>

    <div class="elements">
      <div>
        <i class="ri-computer-line"></i>
        <a href="#">Dashboard</a>
      </div>
      <div>
        <i class="ri-mail-open-line"></i>
        <a href="#">my leave request </a>
      </div>
      <div>
        <i class="ri-arrow-right-up-line"></i>
        <a href="#">my leave balance</a>
      </div>
      <div>
        <i class="ri-money-dollar-circle-line"></i>
        <a href="#">salary</a>
      </div>
      <div>
        <i class="ri-user-unfollow-line"></i>
        <a href="#">Logout</a>
      </div>
    </div>
  </div>

  <div id="hero">
    <div id="hero-top">
      <div id="hero-navbar">
        <h1>Dashboard-Admin</h1>
        <h1>Welcome Shreyas</h1>
      </div>
      <div id="sec-nav">
        <a>
          <i class="ri-home-2-line"></i>
        </a>
        <button class="contactButton"> Emp-Reg
            <div class="iconButton">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
            </div>
          </button>
      </div>
      <div class="hero-top-elements">
        <div id="leave-req"></div>
        <div id="leave-balance"></div>
        <div id="salary"></div>
        <div id="attendance"></div>
      </div>
    </div>
    <div id="hero-bottom">
      <div id="footer">
        <div id="footer-left">
          <h3>&copy;</h3>
          <h3>2023</h3>
          <h3>Shreyas</h3>
        </div>
        <div id="footer-right">
          <h3>Home</h3>
          <h3>Login</h3>
          <h3>Register</h3>
        </div>
      </div>
    </div>
  </div>
</div>
